{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <form>
            <div class="form-group row">
                {{ form.title.label(class="col-md-4 col-form-label text-right") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="col-md-8">
                        {{ form.title(class="form-control") }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group row">
                {{ form.has_spouse.label(class="col-md-4 text-right") }}
                {% if form.has_spouse.errors %}
                    {{ form.has_spouse(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.has_spouse.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="col-md-8">
                        {{ form.has_spouse(onclick='hasSpouseChanged()') }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group row">
                <div class="col-md-4 text-right"><p> </p></div>
                <div class="col-md-4 text-center"><p>Self</p></div>
                <div class="col-md-4 text-center"><p>Spouse</p></div>
            </div>
            <div class="form-group row">
                {{ form.birthdate.label(class="col-md-4 col-form-label text-right") }}
                {% if form.birthdate.errors %}
                    {{ form.birthdate(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.birthdate.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="col-md-4">
                        {{ form.birthdate(class="form-control") }}
                    </div>
                {% endif %}
                {% if form.s_birthdate.errors %}
                    {{ form.s_birthdate(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.s_birthdate.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="col-md-4">
                        {{ form.s_birthdate(class="form-control") }}
                    </div>
                {% endif %}
            </div>

            <div class="content-section">
                <div class="col-md-12 text-center"><p><u>Pre-retirement information</u></p></div>
                <div class="form-group row">
                    {{ form.current_income.label(class="col-md-4 col-form-label text-right") }}
                    {% if form.current_income.errors %}
                        {{ form.current_income(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.current_income.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.current_income(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_current_income.errors %}
                        {{ form.s_current_income(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_current_income.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_current_income(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.savings_rate.label(class="col-md-4 col-form-label text-right") }}
                    {% if form.savings_rate.errors %}
                        {{ form.savings_rate(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.savings_rate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.savings_rate(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_savings_rate.errors %}
                        {{ form.s_savings_rate(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_savings_rate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_savings_rate(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="content-section">
                <div class="col-md-12 text-center"><p><u>Social security information</u></p></div>
                <div class="form-group row">
                    {{ form.ss_date.label(class="col-md-4 col-form-label text-right") }}
                    {% if form.ss_date.errors %}
                        {{ form.ss_date(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ss_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.ss_date(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_ss_date.errors %}
                        {{ form.s_ss_date(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_ss_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_ss_date(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.ss_amount.label(class="col-md-4 col-form-label text-right") }}
                    {% if form.ss_amount.errors %}
                        {{ form.ss_amount(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ss_amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.ss_amount(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_ss_amount.errors %}
                        {{ form.s_ss_amount(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_ss_amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_ss_amount(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="content-section">
                <div class="col-md-12 text-center"><p><u>Retirement information</u></p></div>
                <div class="form-group row">
                    {{ form.retirement_age.label(class="col-md-4 col-form-label text-right") }}
                    {% if form.retirement_age.errors %}
                        {{ form.retirement_age(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.retirement_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.retirement_age(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_retirement_age.errors %}
                        {{ form.s_retirement_age(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_retirement_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_retirement_age(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.ret_income.label(class="col-md-4 col-form-label text-right") }}
                    {% if form.ret_income.errors %}
                        {{ form.ret_income(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ret_income.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.ret_income(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_ret_income.errors %}
                        {{ form.s_ret_income(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_ret_income.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_ret_income(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.ret_job_ret_age.label(class="col-md-4 col-form-label text-right") }}
                    {% if form.ret_job_ret_age.errors %}
                        {{ form.ret_job_ret_age(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ret_job_ret_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.ret_job_ret_age(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_ret_job_ret_age.errors %}
                        {{ form.s_ret_job_ret_age(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_ret_job_ret_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_ret_job_ret_age(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.lifespan_age.label(class="col-md-4 col-form-label text-right") }}
                    {% if form.lifespan_age.errors %}
                        {{ form.lifespan_age(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lifespan_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.lifespan_age(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_lifespan_age.errors %}
                        {{ form.s_lifespan_age(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_lifespan_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_lifespan_age(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="content-section">
                <div class="col-md-12 text-center"><p><u>Shared portfolio information</u></p></div>
                <div class="form-group row">
                    {{ form.nestegg.label(class="col-md-4 col-form-label text-right") }}
                    {% if form.nestegg.errors %}
                        {{ form.nestegg(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nestegg.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.nestegg(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.windfall_amount.label(class="col-md-4 col-form-label text-right") }}
                    {% if form.windfall_amount.errors %}
                        {{ form.windfall_amount(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.windfall_amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.windfall_amount(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.windfall_age.label(class="col-md-4 col-form-label text-right") }}
                    {% if form.windfall_age.errors %}
                        {{ form.windfall_age(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.windfall_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.windfall_age(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.ret_spend.label(class="col-md-4 col-form-label text-right") }}
                    {% if form.ret_spend.errors %}
                        {{ form.ret_spend(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ret_spend.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.ret_spend(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.investment.label(class="col-md-4 col-form-label text-right") }}
                    {% if form.investment.errors %}
                        {{ form.investment(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.investment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.investment(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                {{ form.submitrun(class="btn btn-outline-info") }}
            </div>
        </form>
    </form>
    <script>
      // Hide or show spousal fields
      function hasSpouseChanged()
      {
        var sb = document.getElementById('s_birthdate');
        var sci = document.getElementById('s_current_income');
        var ssr = document.getElementById('s_savings_rate');
        var sssd = document.getElementById('s_ss_date');
        var sfsa = document.getElementById('s_ss_amount');
        var sra = document.getElementById('s_retirement_age');
        var sri = document.getElementById('s_ret_income');
        var srjrd = document.getElementById('s_ret_job_ret_age');
        var sla = document.getElementById('s_lifespan_age');
        if (document.getElementById('has_spouse').checked == true)
        {
          sb.style.display = 'block';
          sci.style.display = 'block';
          ssr.style.display = 'block';
          sssd.style.display = 'block';
          sfsa.style.display = 'block';
          sra.style.display = 'block';
          sri.style.display = 'block';
          srjrd.style.display = 'block';
          sla.style.display = 'block';
        }
        else
        {
          sb.style.display = 'none';
          sci.style.display = 'none';
          ssr.style.display = 'none';
          sssd.style.display = 'none';
          sfsa.style.display = 'none';
          sra.style.display = 'none';
          sri.style.display = 'none';
          srjrd.style.display = 'none';
          sla.style.display = 'none';
        }
      }
    </script>
</div>
<body onload="hasSpouseChanged()">
{% endblock content %}
