{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <form>
            <div class="form-group row align-items-center">
                {{ form.title.label(class="col-md-3 col-form-label text-right") }}
                <img src="/static/information_icon.png" width="15" height="15" title="Enter a title for your scenario. The title should reflect the important parameters of the scenario. For example, if you are creating a scenario where you will take social security at age 70, you might want to entitle the scenario SS70">
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="col-md-8">
                        {{ form.title(class="form-control") }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group row align-items-center">
                {{ form.has_spouse.label(class="col-md-3 col-form-label text-right") }}
                <img src="/static/information_icon.png" width="15" height="15" title="Check this if your scenario includes a spouse. If checked, you will need to enter information for your spouse in the right column.">
                {% if form.has_spouse.errors %}
                    {{ form.has_spouse(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.has_spouse.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="col-md-8">
                        {{ form.has_spouse(onclick='hasSpouseChanged()') }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group row align-items-center">
                <div class="col-md-3 text-right"><p> </p></div>
                <div class="col-md-4 text-center"><p>Self</p></div>
                <div class="col-md-4 text-center"><p>Spouse</p></div>
            </div>
            <div class="form-group row align-items-center">
                {{ form.birthdate.label(class="col-md-3 col-form-label text-right") }}
                <img src="/static/information_icon.png" width="15" height="15" title="Enter you birthdate">
                {% if form.birthdate.errors %}
                    {{ form.birthdate(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.birthdate.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="col-md-4">
                        {{ form.birthdate(class="form-control") }}
                    </div>
                {% endif %}
                {% if form.s_birthdate.errors %}
                    {{ form.s_birthdate(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.s_birthdate.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="col-md-4">
                        {{ form.s_birthdate(class="form-control") }}
                    </div>
                {% endif %}
            </div>

            <div class="content-section">
                <div class="col-md-12 text-center"><p><u>Pre-retirement information</u></p></div>
                <div class="form-group row align-items-center">
                    {{ form.current_income.label(class="col-md-3 col-form-label text-right") }}
                    <img src="/static/information_icon.png" width="15" height="15" title="Enter your current income">
                    {% if form.current_income.errors %}
                        {{ form.current_income(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.current_income.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.current_income(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_current_income.errors %}
                        {{ form.s_current_income(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_current_income.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_current_income(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row align-items-center">
                    {{ form.savings_rate.label(class="col-md-3 col-form-label text-right") }}
                    <img src="/static/information_icon.png" width="15" height="15" title="Enter the percentage of your salary that you save each year. For example, if you make $100,000/yr and you save $6,300/yr, enter 6.3">
                    {% if form.savings_rate.errors %}
                        {{ form.savings_rate(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.savings_rate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.savings_rate(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_savings_rate.errors %}
                        {{ form.s_savings_rate(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_savings_rate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_savings_rate(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="content-section">
                <div class="col-md-12 text-center"><p><u>Social security information</u></p></div>
                <div class="form-group row align-items-center">
                    {{ form.ss_date.label(class="col-md-3 col-form-label text-right") }}
                    <img src="/static/information_icon.png" width="15" height="15" title="Enter the date (MM-DD-YYYY) that you plan to take social security. You can explore your options at https://www.ssa.gov">
                    {% if form.ss_date.errors %}
                        {{ form.ss_date(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ss_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.ss_date(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_ss_date.errors %}
                        {{ form.s_ss_date(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_ss_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_ss_date(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row align-items-center">
                    {{ form.ss_amount.label(class="col-md-3 col-form-label text-right") }}
                    <img src="/static/information_icon.png" width="15" height="15" title="Enter the amount of your ANNUAL social security benefits. You can explore your options at https://www.ssa.gov">
                    {% if form.ss_amount.errors %}
                        {{ form.ss_amount(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ss_amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.ss_amount(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_ss_amount.errors %}
                        {{ form.s_ss_amount(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_ss_amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_ss_amount(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="content-section">
                <div class="col-md-12 text-center"><p><u>Retirement information</u></p></div>
                <div class="form-group row align-items-center">
                    {{ form.retirement_age.label(class="col-md-3 col-form-label text-right") }}
                    <img src="/static/information_icon.png" width="15" height="15" title="Enter the age at which you will leave your full-time career job">
                    {% if form.retirement_age.errors %}
                        {{ form.retirement_age(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.retirement_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.retirement_age(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_retirement_age.errors %}
                        {{ form.s_retirement_age(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_retirement_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_retirement_age(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row align-items-center">
                    {{ form.ret_income.label(class="col-md-3 col-form-label text-right") }}
                    <img src="/static/information_icon.png" width="15" height="15" title="If youy plan to work after retiring from your full time career, estimate the annual income from your 'second career'">
                    {% if form.ret_income.errors %}
                        {{ form.ret_income(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ret_income.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.ret_income(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_ret_income.errors %}
                        {{ form.s_ret_income(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_ret_income.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_ret_income(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row align-items-center">
                    {{ form.ret_job_ret_age.label(class="col-md-3 col-form-label text-right") }}
                    <img src="/static/information_icon.png" width="15" height="15" title="Enter the age you plan to fully retire. After this age, you will not generate any additional income and you will live off of your investments">
                    {% if form.ret_job_ret_age.errors %}
                        {{ form.ret_job_ret_age(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ret_job_ret_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.ret_job_ret_age(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_ret_job_ret_age.errors %}
                        {{ form.s_ret_job_ret_age(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_ret_job_ret_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_ret_job_ret_age(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row align-items-center">
                    {{ form.lifespan_age.label(class="col-md-3 col-form-label text-right") }}
                    <img src="/static/information_icon.png" width="15" height="15" title="Enter the age that you estimate that you will live to. This will determine how many years are simulated. Most people will enter 95 just to see how their portfolio will perform if they live that long">
                    {% if form.lifespan_age.errors %}
                        {{ form.lifespan_age(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lifespan_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.lifespan_age(class="form-control") }}
                        </div>
                    {% endif %}
                    {% if form.s_lifespan_age.errors %}
                        {{ form.s_lifespan_age(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_lifespan_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.s_lifespan_age(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="content-section">
                <div class="col-md-12 text-center"><p><u>Shared portfolio information</u></p></div>
                <div class="form-group row align-items-center">
                    {{ form.nestegg.label(class="col-md-3 col-form-label text-right") }}
                    <img src="/static/information_icon.png" width="15" height="15" title="Enter the amount of your current savings">
                    {% if form.nestegg.errors %}
                        {{ form.nestegg(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nestegg.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.nestegg(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row align-items-center">
                    {{ form.windfall_amount.label(class="col-md-3 col-form-label text-right") }}
                    <img src="/static/information_icon.png" width="15" height="15" title="If you anticipate an inheritance, enter the amount here (e.g. $200,000). You can also plan for a major expense such as a trip around the word by enter a negative number here (e.g. -$30,000)">
                    {% if form.windfall_amount.errors %}
                        {{ form.windfall_amount(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.windfall_amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.windfall_amount(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row align-items-center">
                    {{ form.windfall_age.label(class="col-md-3 col-form-label text-right") }}
                    <img src="/static/information_icon.png" width="15" height="15" title="Enter the age that you estimate the financial event will take place">
                    {% if form.windfall_age.errors %}
                        {{ form.windfall_age(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.windfall_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.windfall_age(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row align-items-center">
                    {{ form.ret_spend.label(class="col-md-3 col-form-label text-right") }}
                    <img src="/static/information_icon.png" width="15" height="15" title="Enter the amount of money you expect to spend annually at the start of you retirement from you full time job. Keep in mind that you will need to anticipate the impact of inflation on your estimate">
                    {% if form.ret_spend.errors %}
                        {{ form.ret_spend(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ret_spend.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.ret_spend(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row align-items-center">
                    {{ form.investment.label(class="col-md-3 col-form-label text-right") }}
                    <img src="/static/information_icon.png" width="15" height="15" title="Select the Asset Mix that reflects how you will invest your current nestegg and future savings.">
                    {% if form.investment.errors %}
                        {{ form.investment(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.investment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            {{ form.investment(class="form-control") }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                {{ form.cancel(class="btn btn-outline-info") }}
            </div>
        </form>
    </form>
    <script>
      // Hide or show spousal fields
      function hasSpouseChanged()
      {
        var sb = document.getElementById('s_birthdate');
        var sci = document.getElementById('s_current_income');
        var ssr = document.getElementById('s_savings_rate');
        var sssd = document.getElementById('s_ss_date');
        var sfsa = document.getElementById('s_ss_amount');
        var sra = document.getElementById('s_retirement_age');
        var sri = document.getElementById('s_ret_income');
        var srjrd = document.getElementById('s_ret_job_ret_age');
        var sla = document.getElementById('s_lifespan_age');
        if (document.getElementById('has_spouse').checked == true)
        {
          sb.disabled=false;
          sci.disabled=false;
          ssr.disabled=false;
          sssd.disabled=false;
          sfsa.disabled=false;
          sra.disabled=false;
          sri.disabled=false;
          srjrd.disabled=false;
          sla.disabled=false;
        }
        else
        {
          sb.disabled=true;
          sci.disabled=true;
          ssr.disabled=true;
          sssd.disabled=true;
          sfsa.disabled=true;
          sra.disabled=true;
          sri.disabled=true;
          srjrd.disabled=true;
          sla.disabled=true;
        }
      }
    </script>
</div>
<body onload="hasSpouseChanged()">
{% endblock content %}
