{% extends "layout.html" %}
{% block content %}
    <h2><u>Frequently Asked Questions</u></h2>
    <br>

    <br><h3>What does it cost to use the site?</h3>
    The site is free!
    <br><br>

    <br><h3>Do I need to register to use the site?</h3>
    Yes. Registering allows you to create, save and run scenarios.
    <br><br>

    <br><h3>I have a financial situation that I can't easily model on the site. Can you support it?</h3>
    I'd love to understand your situation and will make every attempt to support it. <a href="mailto:montecarloretirement@gmail.com">Email the details of your request to me!</a>
    <br><br>


    If you have a question not listed here, <a href="mailto:montecarloretirement@gmail.com">send me an email with the details!</a>
    <br>Last Modified: April 3, 2021

{% endblock content %}