{% extends "layout.html" %}
{% block content %}
    {% for scenario in scenarios.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + scenario.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ scenario.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h5><a class="article-title" href="{{ url_for('scenarios.scenario', scenario_id=scenario.id) }}">{{ scenario.title }}</a></h5>
          </div>
        </article>
    {% endfor %}
    {% for page_num in scenarios.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if scenarios.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{page_num}}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{page_num}}</a>
            {% endif %}
        {% else %}
        {% endif %}
    {% endfor %}
{% endblock content %}