{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h2 class="article-title">{{ scenario.title }}</h2>
        <small class="text-muted">Created on {{ scenario.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if scenario.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('scenarios.run_scenario', scenario_id=scenario.id) }}">Run Simulation</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('scenarios.update_scenario', scenario_id=scenario.id) }}">Update scenario</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete scenario</button>
          </div>
        {% endif %}
      </div>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Scenario?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('scenarios.delete_scenario', scenario_id=scenario.id) }}" method="Post">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}