{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group col-md-12">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group col-md-4">
                    {{ form.birthdate.label(class="form-control-label") }}
                    {% if form.birthdate.errors %}
                        {{ form.birthdate(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.birthdate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.birthdate(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.current_income.label(class="form-control-label") }}
                    {% if form.current_income.errors %}
                        {{ form.current_income(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.current_income.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.current_income(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.full_ss_date.label(class="form-control-label") }}
                    {% if form.full_ss_date.errors %}
                        {{ form.full_ss_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.full_ss_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.full_ss_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.full_ss_amount.label(class="form-control-label") }}
                    {% if form.full_ss_amount.errors %}
                        {{ form.full_ss_amount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.full_ss_amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.full_ss_amount(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.nestegg.label(class="form-control-label") }}
                    {% if form.nestegg.errors %}
                        {{ form.nestegg(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nestegg.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nestegg(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.has_spouse.label(class="form-control-label") }}
                    {% if form.has_spouse.errors %}
                        {{ form.has_spouse(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.has_spouse.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.has_spouse(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.s_birthdate.label(class="form-control-label") }}
                    {% if form.s_birthdate.errors %}
                        {{ form.s_birthdate(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_birthdate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.s_birthdate(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.s_current_income.label(class="form-control-label") }}
                    {% if form.s_current_income.errors %}
                        {{ form.s_current_income(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_current_income.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.s_current_income(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.s_lifespan_age.label(class="form-control-label") }}
                    {% if form.s_lifespan_age.errors %}
                        {{ form.s_lifespan_age(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_lifespan_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.s_lifespan_age(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.s_full_ss_date.label(class="form-control-label") }}
                    {% if form.s_full_ss_date.errors %}
                        {{ form.s_full_ss_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_full_ss_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.s_full_ss_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.s_full_ss_amount.label(class="form-control-label") }}
                    {% if form.s_full_ss_amount.errors %}
                        {{ form.s_full_ss_amount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.s_full_ss_amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.s_full_ss_amount(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}